name: Release Pages

on: 
  push:
    branches:
      - raw
jobs:
  build:
    name: Release to GitHub Pages
    runs-on: ubuntu-18.04
    if: contains(github.event.head_commit.message, '[skip ci]') == false && contains(github.event.head_commit.message, '[ci skip]') == false
    steps:
      - uses: actions/checkout@v1
      - name: Setup Node.js
        uses: actions/setup-node@v2.1.5
        with:
          node-version: '14.x'
      - name: build docs
        run: |
          export TZ='Asia/Shanghai'
          npm i -g yarn
          yarn add vuepress -D
          yarn install
          yarn docs:build
          cd docs/.vuepress/dist
          echo 'docs.qlcchain.online' > CNAME
      - name: Release Github Pages
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          ACCESS_TOKEN: ${{ secrets.GH_TOKEN }}
          BASE_BRANCH: raw
          BRANCH: master
          FOLDER: docs/.vuepress/dist